*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0.5vw;
  
}
*::selection{
    background-color: rgb(127, 138, 161);
    color: aliceblue;
}
body{
    background-color: rgb(53, 62, 82);
}
.headerText{
    font-size: 5vw;
    margin: 0;
    padding: 0%;
    font-weight: 50;
    color: rgb(214, 228, 233);
}


.rest-name{
    border-radius: 0.4vw;
}
.name, .location, .select, .AddResturant{
    background-color: rgb(221, 221, 240);
    width: 10vw;
    height: 2vw;
    font-size: 1vw;
    border: 1px black dotted ;
}
.AddResturant{
    background-color: rgb(170, 143, 196);
}
table, th, td {
    width: 80vw;
    border: 1px solid black;
    padding: 0.2vw;
    background-color: rgb(175, 210, 233);
    text-align: center;
    margin: auto;
    border-radius: 0.5vw;
}
.edit, .delete{
    width: 100%;
    padding: 0%;
    margin: auto;
}
.prim > th{
    background-color: rgb(236, 192, 201);
}
td{
    background-color: rgb(195, 245, 245);
}
.update{
    color: aliceblue;
}
.submit-edit{
    background-color: rgb(65, 206, 159);
    font-size: 1vw;
    margin: 5vw;
}
.form-group > select,input,label,button{
    width: 20vw;
    height: 3vw;
    font-size:1.5vw;
}

.card{
    background-color: rgb(128, 94, 160);
    
}
.cardText{
    font-size: 1vw;
    font-weight: 20;
    margin: 0%;
    padding: 0%;
}

.revs{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 70%;
}
.stars{
    color:rgb(224, 162, 47);
}
.addrev{
    position: absolute;
    text-align:left;
    left: 70%;
    top: 5%;
}
.addrevsub{
    background-color: rgb(128, 94, 160);
    color: rgb(48, 47, 47);
}
