:root{
    --greenish: rgb(195, 245, 245);
    --buttonPurpe: rgb(170, 143, 196);
}
*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0.5vw;
    box-sizing: border-box;
}
*::selection{
    background-color: rgb(127, 138, 161);
    color: aliceblue;
}
body{
    background-color: rgb(53, 62, 82);
}
.headerText{
    font-size: 5vw;
    margin: 0;
    padding: 0%;
    font-weight: 50;
    color: rgb(214, 228, 233);
}


.rest-name{
    border-radius: 0.4vw;
}
.name, .location, .select, .AddResturant{
    background-color: rgb(221, 221, 240);
    width: 10vw;
    height: 2vw;
    font-size: 1vw;
    border: 1px black dotted ;
}
.AddResturant{
    background-color: var(--buttonPurpe);
}
table, th, td {
    width: 80vw;
    border: 1px solid black;
    padding: 0.2vw;
    background-color: rgb(175, 210, 233);
    text-align: center;
    margin: auto;
    border-radius: 0.5vw;
}
.edit, .delete{
    width: 100%;
    padding: 0%;
    margin: auto;
}
.prim > th{
    background-color: rgb(236, 192, 201);
}
td{
    background-color: var(--greenish);
}
.update{
    color: aliceblue;
    cursor:pointer;
}
.submit-edit{
    background-color: var(--greenish);
    font-size: 1vw;
    margin: 5vw;
    cursor:pointer;
}
.form-group > select,input,label,button{
    width: 20vw;
    height: 3vw;
    font-size:1.5vw;
}

.card{
    background-color: var(--buttonPurpe);
    border-radius: 1vw;
}
.cardText{
    font-size: 1vw;
    font-weight: 20;
    margin: 0%;
    padding: 0%;
}

.revs{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 70%;
}
.stars{
    color:rgb(224, 162, 47);
}
.addrev{
    position: absolute;
    text-align:left;
    left: 70%;
    top: 5%;
    background-color: var(--greenish);
    border-radius: 1vw;
}
.addrevsub{
    background-color: var(--buttonPurpe);
    color: rgb(48, 47, 47);
}
.restname{
    color: aliceblue;
}
.revMes{
    color: black;
}
.revLabel{
    margin: auto;
}
.revTextarea{
    max-height: 10vw;
    max-width: 20vw;
    min-width: 6vw;
}
.homeIcon{
    position: fixed;
    left: 0%;
    color: whitesmoke;
    cursor:pointer;
}
.clickAble{
    cursor:pointer;
}